@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
    -moz-animation-iteration-count: $iteration;
    -o-animation-iteration-count: $iteration;
    animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    animation-direction: $direction;
}

@font-face {
    src: url('Vazir.ttf');
    font-family: "Fetne";
    font-weight: 400;
}

body {
    font-family: "Fetne";
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}

.bg-color {
    background: #9966ff;
    // background: linear-gradient(90deg, rgba(153, 102, 255, 1) 0%, rgba(115, 45, 255, 1) 100%);
}

.bg-color-fade {
    background: #9966ff11;
}

.text-color {
    color: #9966ff
}

.text-orange {
    color: #ffbb00
}

.bg-orange {
    background-color: #ffbb00
}

.course-shadow {
    box-shadow: 0px 0px 5px #9966ff52;
}

.w-45\/100 {
    width: 45%;
}

@media (min-width: 768px) {
    .md\:w-30\/100 {
        width: 30%;
    }
    .md\:w-22\/100 {
        width: 22%;
    }
}

@media (max-width: 768px) {
    .sm-hidden {
        display: none;
    }
}

@media (min-width: 768px) {
    .md-hidden {
        display: none;
    }
}

.circle {
    border-radius: 50%;
}

.hideCollapse {
    display: none;
}

.showCollapse {
    display: block;
}

// .box-collapse {
//     border: solid 1px #9966ff;
// }
.border-theme {
    border: solid 1px #9966ff;
}