@font-face {
  font-family: "iranYekan";
  src: url("IRANYekanWebRegular.woff2") format('woff2')
}
@font-face {
  font-family: "iranYekan2";
  src: url("IRANYekanWebRegular.woff") format('woff')
}
* {
  scroll-behavior: smooth;
  font-family: "iranYekan","iranYekan2";
}
#root {
  margin: 0px;
  padding: 0px;
}
.text-small {
  font-size: 16px;
}
.text-small-bold {
  font-size: 16px;
  font-weight: 500;
}
.bg-gradient {
  background: linear-gradient(to left top, #9b87ff, #a28fff);
  color: blueviolet;
}

.bg-color {
  background: #5c3fd1;
}

.bg-color-fade {
  background: #9966ff11;
}

.text-color {
  color: #5d3fd3;
}

.text-orange {
  color: #ffbb00;
}

.bg-orange {
  background-color: #ffbb00;
}

.course-shadow {
  border: solid 1px rgb(231, 231, 231);
}

.w-45\/100 {
  width: 45%;
}

@media (min-width: 768px) {
  .md\:w-30\/100 {
    width: 30%;
  }
  .md\:w-22\/100 {
    width: 22%;
  }
}

@media (max-width: 768px) {
  .sm-hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}

.circle {
  border-radius: 50%;
}

.hideCollapse {
  display: none;
}

.showCollapse {
  display: block;
}

.border-theme {
  border: solid 1px #9966ff;
}

.show {
  display: block !important;
}

